@page
@model WebAppliRazor.Etagere_DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etagere.PoidsMaximum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etagere.PoidsMaximum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etagere.Secteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etagere.Secteur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etagere.ListPositions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etagere.ListPositions)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Etagere.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
