@page
@model WebAppliRazor.Article_EditModel

@{
    ViewData["Title"] = "Edit";

    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var etagere in Model.EtageresList)
    {
        listItems.Add(new SelectListItem(etagere.Id.ToString(), etagere.Id.ToString()));
    }

    object validate()
    {
        if (Model.qte != null)
        {
            var qte = Convert.ToInt32(Model.qte);
            var id = Convert.ToInt32(listItems.Where(e => e.Selected).FirstOrDefault().Value);

            Model.AddPosition(qte, id);
        }
        return null;
    }
}
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.Id" />
            <div class="form-group">
                <label asp-for="Article.Libelle" class="control-label"></label>
                <input asp-for="Article.Libelle" class="form-control" />
                <span asp-validation-for="Article.Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Poids" class="control-label"></label>
                <input asp-for="Article.Poids" class="form-control" />
                <span asp-validation-for="Article.Poids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.PrixInitial" class="control-label"></label>
                <input asp-for="Article.PrixInitial" class="form-control" />
                <span asp-validation-for="Article.PrixInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.DateSortie" class="control-label"></label>
                <input asp-for="Article.DateSortie" class="form-control" />
                <span asp-validation-for="Article.DateSortie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.SKU" class="control-label"></label>
                <input asp-for="Article.SKU" class="form-control" />
                <span asp-validation-for="Article.SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.ListPositions" class="control-label">ID de l'étagère : </label>
                @Html.DropDownListFor(model => model.Article.ListPositions, listItems)
                <span asp-validation-for="Article.ListPositions" class="text-danger"></span>

                <label asp-for="Article.ListPositions" class="control-label">Nombre d'articles sur l'étagère : </label>

                <input class="form-control" value="@Model.qte" id="qteIn" />
                <input type="button" value="+" class="btn" action="@validate()" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Article.ListPositions[0].IdEtagere)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Article.ListPositions[0].Quantite)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Article.ListPositions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEtagere)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantite)
                            </td>
                            <td>
                                <a asp-page="./Delete" asp-route-id="@item">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
